---
import Container from "src/layouts/Container.astro";
---

<Container title="Page not found" navbarFixed={false}>
  <main>
    <section
      class="min-h-screen flex justify-center items-center flex-col gap-y-2"
    >
      <h2>Page not found</h2>
      <a
        href="/"
        class="uppercase text-white px-4 py-2 bg-slate-400 rounded-lg"
      >
        regresar
      </a>
    </section>
  </main>
</Container>
