---
import { Icon } from "astro-icon/components";
---

<div class="max-w-sm rounded-lg shadow border border-[#769EAD] bg-[#0b121f]">
  <a href="#" class="relative">
    <img
      class="rounded-t-lg"
      src="https://images.milenio.com/_03IdE9BpriQn9iEAC62eEze_H4=/942x532/uploads/media/2023/04/11/juan-carlos-soledad-ramirez-estudiante_0_0_1198_745.jpg"
      alt=""
    />
    <span
      class="badge absolute bottom-1 right-1 px-2 py-1 bg-[rgba(176,1,36,1)] rounded-md text-[12px]"
    >
      <Icon name="Milenio" />
    </span>
  </a>
  <div class="p-5">
    <a
      href="https://www.milenio.com/aula/first-y-los-beneficios-al-desarrollo-profesional-de-los-jovenes"
    >
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
        Gracias a First desarrolló su proyecto de vida profesional
      </h5>
    </a>
    <p class="mb-3 font-normal text-gray-400">
      Juan Carlos incursionó en la competencia de robótica por curiosidad y al
      ver la comunidad que había alrededor, pero se convirtió en una forma de
      vida.
    </p>
    <a
      target="_blank"
      href="https://www.milenio.com/aula/first-y-los-beneficios-al-desarrollo-profesional-de-los-jovenes"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#769EAD] rounded-lg hover:bg-[#587985] focus:ring-4 focus:outline-none focus:ring-blue-300"
    >
      Leer m&aacute;s
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</div>
