---
import { Icon } from "astro-icon/components";

const actualYear = new Date().getFullYear();
---

<footer class="w-full bg-[#060a11] content-center">
  <div class="max-w-7xl flex flex-row justify-between py-8 mx-auto">
    <div class="flex flex-col">
      <a
        href="#"
        class="content-center text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        >Projects
      </a>
      <a
        href="#"
        class="content-center text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        >Gallery
      </a>
      <a
        href="#"
        class="content-center text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        >Volunteering
      </a>
    </div>
    <div class="flex flex-col items-center h-full space-y-2">
      <h1 class="text-2xl text-white font-thin">Juan Soledad</h1>
      <div class="flex">
        <a
          href="#"
          class="content-center text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
          ><Icon name="streamline:instagram" class="text-2xl" />
        </a>
        <a
          href="#"
          class="content-center text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
          ><Icon name="mingcute:github-line" class="text-2xl" />
        </a>
        <a
          href="#"
          class="content-center text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
        >
          <Icon name="streamline:linkedin" class="text-2xl" />
        </a>
      </div>
      <a
        href="#"
        class="text-gray-800 bg-[#769EAD] hover:bg-[#769EAD]/.6 hover:text-white rounded-md px-5 py-2 text-sm font-bold"
        >Resume</a
      >
    </div>
  </div>
  <div class="py-2 bg-[#05090f] border-t-[#769EAD] border-t-[1px]">
    <p class="text-white text-center flex flex-row justify-center items-center">
      All rights reserved. &nbsp; <Icon
        name="mingcute:copyright-line"
        class="text-white"
      /> &nbsp;
      {actualYear}
    </p>
  </div>
</footer>
