---
import { gallerySection } from "src/consts/gallery";
---

<section id="gallery" class="w-full relative isolate group overflow-hidden">
  <div
    class="w-full h-full bg-black/[0.6] content-center absolute group-hover:-translate-y-full transition duration-[1500ms]"
  >
    <h1
      class="text-[#ffffff] tracking-wider font-bold text-6xl uppercase
       text-center
      transition duration-[700ms] group-hover:-translate-y-full"
    >
      Gallery
    </h1>
  </div>
  <div
    class="-z-10 w-full grid grid-flow-dense grid-cols-2 md:grid-cols-3 lg:grid-cols-6 items-center"
  >
    {
      gallerySection.map((photo, index) => {
        return (
          <a
            href={`/gallery/photo/${photo.id}`}
            class="max-h-[180px] h-full w-full overflow-clip transition-all duration-1000"
          >
            <figure class="h-full w-full ">
              <img
                loading="lazy"
                decoding="async"
                src={photo.url}
                alt={photo.alt}
                class="w-full h-full object-cover hover:scale-150 transition-all duration-500"
              />
            </figure>
          </a>
        );
      })
    }
  </div>
</section>
