---
const images = Object.values(
  import.meta.glob<string>("/src/assets/gallery/*.{jpeg,jpg,png,gif}", {
    eager: true,
    query: "url",
    import: "default",
  }),
);

if (!images) throw new Error("No images loaded");
const valuedImages = images.map((img) => {
  const _id = img.replace("/src/assets/gallery/", "");
  const id = _id.replace(".jpg", "");

  return {
    src: img,
    route: `/gallery/photo/${id}`,
  };
});
---

<section id="gall" class="w-full relative isolate group overflow-hidden">
  <div
    class="w-full h-full bg-black/[0.6] content-center absolute group-hover:-translate-y-full transition duration-[1500ms]"
  >
    <h1
      class="text-[#ffffff] tracking-wider font-bold text-6xl uppercase
       text-center
      transition duration-[700ms] group-hover:-translate-y-full"
    >
      Gallery
    </h1>
  </div>
  <div
    class="-z-10 w-full grid grid-flow-dense lg:grid-rows-3 lg:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 items-center"
  >
    {
      valuedImages.map((photo, index) => {
        return (
          <a
            href={photo.route}
            class="max-h-[180px] h-full w-full flex items-center justify-center overflow-clip transition-all duration-1000"
          >
            <figure class=" w-full hover:m-3 ">
              <img
                decoding="async"
                src={photo.src}
                alt={photo.route}
                class=" hover:scale-150 transition-all duration-500"
              />
            </figure>
          </a>
        );
      })
    }
  </div>
</section>
