---
import { gallerySection } from "src/consts/gallery";
---

<section
  id="gallery"
  class="w-full relative isolate group overflow-hidden border-y-2 border-[#769EAD] py-2 bg-[#080D16]"
>
  <div
    class="w-full h-full bg-black/[0.6] content-center absolute group-hover:-translate-y-full transition duration-[1500ms]"
  >
    <h1
      class="text-[#ffffff] tracking-wider font-bold text-6xl uppercase
       text-center
      transition duration-[700ms] group-hover:-translate-y-full"
    >
      Gallery
    </h1>
  </div>
  <div
    class="-z-10 w-full grid grid-flow-dense grid-cols-2 md:grid-cols-3 lg:grid-cols-6 items-center"
  >
    {
      gallerySection.map((photo, index) => {
        const timeBase = 250;
        return (
          <a
            data-aos="fade-in"
            data-aos-delay={timeBase * index}
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            data-aos-anchor=".photo"
            href={`/gallery/photo/${photo.id}`}
            class="photo max-h-[180px] h-full w-full overflow-clip transition-all duration-1000"
          >
            <figure class="h-full w-full ">
              <img
                loading="lazy"
                src={photo.url}
                alt={photo.alt}
                class="w-full h-full object-cover hover:scale-150 transition-all duration-500"
              />
            </figure>
          </a>
        );
      })
    }
  </div>
</section>
