---
interface Props {
  image?: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props;
---

<a
  href="#"
  aria-posinset="none"
  class="flex flex-col items-center md:flex-row w-11/12 md:max-w-full mx-auto rounded-lg shadow border border-[#769EAD] bg-[#0b121f] hover:bg-[#1c2330]"
>
  <img
    class="object-cover w-full rounded-t-lg h-32 md:h-full md:w-48 md:rounded-none md:rounded-s-lg"
    src={image}
    alt={title}
  />
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white"
    >
      {title}
    </h5>
    <p class="mb-3 font-normal text-gray-100 dark:text-gray-100">
      {description}
    </p>
  </div>
</a>
